<a href="https://colab.research.google.com/github/gabriel7268/Data-Science/blob/main/Lets%20Code%20UFBA/Lets_Code_UFBA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Data Science and Artificial Intelligence Workshop

## Ementa:
  - 11/05:  
    - ambientação do jupyter notebook
    - análise de dados (eda - exploratory dara analysis)
    - 

  - 13/05:
    - modelo de machine learning
    - avaliação do modelo

````
Jupyter Notebook
````

Para abrir:

```
Abrir o prompt do anaconda

digitar: jupyter notebook
```

# Linguagens para Data Science

## Python:
- genérico
- usado para ML, Web Scrapping, text mining, dashboard

## R:
- Estatística
- Séries temporais, análises multivariada, análise de sobrevivência

In [ ]:
#Exibir imagem
![]'https://www.google.com/imgres?imgurl=https%3A%2F%2Fmk0setscholarsn9sko6.kinstacdn.com%2Fwp-content%2Fuploads%2F2020%2F08%2FPythob_vs_R.jpeg&imgrefurl=https%3A%2F%2Fsetscholars.net%2Fpython-vs-r-which-should-i-learn-for-business-data-analytics%2F&tbnid=krxs-OXZworYFM&vet=12ahUKEwiB2duQ1cLwAhXkC9QKHQZzDoUQMygMegUIARC7AQ..i&docid=qygeyROXJVeCIM&w=730&h=410&q=python%20vs%20r&ved=2ahUKEwiB2duQ1cLwAhXkC9QKHQZzDoUQMygMegUIARC7AQ'

/bin/bash: []https://www.google.com/imgres?imgurl=https%3A%2F%2Fmk0setscholarsn9sko6.kinstacdn.com%2Fwp-content%2Fuploads%2F2020%2F08%2FPythob_vs_R.jpeg&imgrefurl=https%3A%2F%2Fsetscholars.net%2Fpython-vs-r-which-should-i-learn-for-business-data-analytics%2F&tbnid=krxs-OXZworYFM&vet=12ahUKEwiB2duQ1cLwAhXkC9QKHQZzDoUQMygMegUIARC7AQ..i&docid=qygeyROXJVeCIM&w=730&h=410&q=python%20vs%20r&ved=2ahUKEwiB2duQ1cLwAhXkC9QKHQZzDoUQMygMegUIARC7AQ: No such file or directory

#Objetivo do case:
- Prever atrasos de cartão de crédito (Target), dado as demais características (features) dos clientes.

In [ ]:
#Importar bibliotecas:
import pandas as pd
import os

df = pd.read_csv('AtrasoCartaoCredito.csv')
df.shape #atributo
df.head() #método

   ID  Target  ...     RegiaodoPais NumeroComprasOnline
0   1       0  ...   Região Sudeste           54.924242
1   2       1  ...  Região Nordeste          312.644737
2   3       1  ...       Região Sul           50.801282
3   4       1  ...       Região Sul            2.528571
4   5       0  ...  Região Nordeste            3.833333

[5 rows x 13 columns]

In [ ]:
#Listar arquivos do diretório
#os.listdir()

Python é uma linguagem orientada a objetos: OOP.

Tem objetos, atributos, métodos, ações...

- atributos não tem parênteses
- método tem parênteses

Atalhos Google Colab:
- ctrl + ; (Comenta linhas selecionadas)
- ctrl + d (Seleciona variáveis com mesmo nome)
-

In [ ]:
#Tipo de dados
type(df)

pandas.core.frame.DataFrame

In [ ]:
#Número de valores únicos
#df.ID.nunique()
df['ID'].nunique()

#Coluna inútil, nunique = rows do df, logo é igual ao index
#podemos excluí-la sem prejuízos

891

`axis=1` coluna  
`axis=0` linha

In [ ]:
#Para excluir uma coluna, parâmetros: 'coluna', axis=1 (coluna) 0 (linha), inplace=true atualiza:
#df.drop('ID', axis=1, inplace=True) ou 
df.drop(columns='ID', inplace=True)
df.head()

   Target  GrupoEconomico  ...     RegiaodoPais  NumeroComprasOnline
0       0               3  ...   Região Sudeste            54.924242
1       1               1  ...  Região Nordeste           312.644737
2       1               3  ...       Região Sul            50.801282
3       1               1  ...       Região Sul             2.528571
4       0               3  ...  Região Nordeste             3.833333

[5 rows x 12 columns]

In [ ]:
#Checa se é nulo
df.isna()
#Soma os nulos, por coluna:
df.isna().sum()
#Soma os nulos, por linha:
df.isna().sum(axis=1)

Target                  0
GrupoEconomico          0
Sexo                    0
Idade                   0
GrupoRisco              0
ValorCompraAnual       28
GastoMax                0
GastoMedio              0
UF                      0
CidadeResidencia        0
RegiaodoPais            0
NumeroComprasOnline     0
dtype: int64

In [ ]:
#filtro somentes as linhas onde ValorCompraAnual é nulo
df[df['ValorCompraAnual'].isna()]

(28, 12)

In [ ]:
#Apagar as linhas que contem dados nulos nan
df.dropna(inplace=True)
df.shape

(863, 12)